
/* 
@media (min-width: 300px) {
	body {
        background-color: rgb(8, 99, 129);
		.box {
			background-color: blue;
		}
	}
}

@media (min-width: 500px) {
	body {
        background-color: rgb(14, 163, 213);
		.box {
			background-color: purple;
		}
	}
}
@media (max-height: 400px) {
	body {
        background-color: rgb(12, 135, 175);
		.box {
			width: 200px;
		}
	} */
/* large smartphones and tablets */
/* 
@media (min-width:480px){
    body {
        background-color: #ffffff;
        .mobile , .laptop , .desktop{
            display:none;
        }
        .tablet{
            display: block;
        }
	}
     */

/* landscape tablets and laptops */
/* 
@media (min-width:780px){
    body {
        background-color: rgb(10, 116, 151);
        .mobile , .tablet , .desktop{
            display:none;
        }
        .laptop{
            display: block;
        }
	}
     */

/* desktop */

/* @media (min-width:1279px){
	body {
        background-color: rgb(6, 84, 110);
        .mobile , .tablet , .laptop{
            display:none;
        }
        .desktop{
            display: block;
        }
	}
} */
